.items{
    border-style:solid;
    border-width:2px;
    padding:5px;
    background-color: white;
    margin-top:2%;
    align: center;
    margin-left: 30%;
    margin-right: 30%;
    height: 80vh; /* высота нашего блока */
     /* ширина нашего блока */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
     /* прокрутка по горизонтали */
    overflow-y: scroll; /* прокрутка по вертикали */
    overflow-x: hidden;
}